;FujiNet PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[fujinet]
; Espressif32 PlatformIO Version to use for building
esp32_platform_version = 5.1.0

build_platform = BUILD_CBM
build_bus      = IEC

; Change this to target hardware you use from the list of [env:xxx] sections below
; Commodore IEC using Atari FujiNet
build_board = meatloaf-fujinet-v1
;build_board = meatloaf-fujinet-v1.nopsram  ; Board has no SPI PSRAM
;build_board = meatloaf-fujinet-esp32s3

flash_filesystem = FLASH_SPIFFS 
;flash_filesystem = FLASH_LITTLEFS
flash_size = 16mb    ; 4mb, 8mb, 16mb

[platformio]
description = Meatloaf / FujiNet retro computer to ESP32 WiFi Multifunction Firmware
data_dir = $PROJECT_DIR/data/${fujinet.build_platform}

[env]
; Common settings for all enivornments
framework = espidf
extra_scripts = pre:build_version.py
lib_ldf_mode = deep+
upload_speed = 460800 ;921600
;upload_port = COM1 ; Windows
;upload_port = /dev/ttyUSB0 ; Linux
upload_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_speed = 460800 ;921600
;monitor_port = COM1 ; Windows
;monitor_port = /dev/ttyUSB0 ; Linux
monitor_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_filters = time, esp32_exception_decoder
check_skip_packages = yes

build_flags =
    -D ${fujinet.build_platform}
    -D ${fujinet.flash_filesystem}
    -D CMAKE_EXPORT_COMPILE_COMMANDS=ON
    -D DEBUG_SPEED=460800   ;921600
    ;-D NO_PSRAM            ; if your hardware has no psram
    ;-D NO_BUTTONS          ; if your hardware has no physical buttons
    ;-D SD_CARD             ; if your hardware has an sd card slot
    ;-D LED_STRIP           ; if your hardware has an led strip
    ;-D PIEZO_BUZZER        ; if your hardware has a piezo buzzer
    ;-D PARALLEL_BUS        ; if your hardware has parallel interface
    ;-D JTAG                ; enable use with JTAG debugger
    ;-D BLUETOOTH_SUPPORT   ; enable BlueTooth support
    ;-D VERBOSE_TNFS
    ;-D VERBOSE_DISK
    ;-D VERBOSE_HTTP
    ;-D DEBUG_TIMING
    ;-D DATA_STREAM
    ;-D NO_VIRTUAL_KEYBOARD
    ;-D DBUG2 ; enable monitor messages for a release build

;debug_tool = esp-prog
;debug_init_break = tbreak setup

[env:meatloaf-fujinet-v1]
platform = espressif32@${fujinet.esp32_platform_version}
board = fujinet-v1-${fujinet.flash_size}
build_type = debug
build_flags = ${env.build_flags}

[env:meatloaf-fujinet-v1.nopsram]
platform = espressif32@${fujinet.esp32_platform_version}
board = fujinet-v1-${fujinet.flash_size}
build_type = debug
build_flags = ${env.build_flags}

[env:meatloaf-fujinet-esp32s3]
platform = https://github.com/jonathandreyer/platform-espressif32.git#espidf-440
platform_packages =
    toolchain-esp32s2ulp
    tool-esptoolpy @ https://github.com/jonathandreyer/esptool#release/v3.2
    framework-espidf @ https://github.com/jonathandreyer/framework-espidf.git#espidf-440
board = fujinet-esp32s3
build_type = debug
