; Meatloaf PlatformIO Project Configuration File
;
; Quick Start Instructions:
;
;   Set the following options in this file:
;       in [meatloaf] section: Set your build_board and flash_size
;       in [env] section: Set your upload_port and monitor_port
;
;   To build in VSCode, select the PlatformIO icon on the sidebar and expand
;   the section for the board you have chosen (ie, lolin-d32). First, choose
;   choose Upload under the General section, then choose Upload Filesystem 
;   image under the Platform section.
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[meatloaf]
; Uncomment ONLY ONE of the below lines to target the hardware you use
; GPIO pin assignments are located in the include/pinmap/ directory for reference
;build_board = fujiloaf-rev0      ; Meatloaf / FujiNet REV0 board, aka Fujiloaf (ESP32-WROVER 8M PSRAM, 16M Flash)
;build_board = lolin-d32-pro      ; Wemos Lolin D32 Pro                         (ESP32-WROVER 4M PSRAM, 4M/8M/16M Flash)
;build_board = ttgo-t1            ; Lilygo TTGO T1 V1.3                         (ESP32 NO PSRAM, 4M Flash)
;build_board = esp32-wroom        ; generic esp32-wroom board                   (ESP32-WROOM NO PSRAM, 4M/8M/16M Flash)
;build_board = esp32-wroom-pi1541 ; generic esp32-wroom board with pi1541 hat   (ESP32-WROOM NO PSRAM, 4M/8M/16M Flash)
;build_board = fujiapple-rev0     ; FujiApple REV0 with esp32-devkitc           (ESP32-WROVER 8M PSRAM, 8M Flash)
;build_board = fujinet-v16        ; FujiNet v1.6                                (ESP32-WROVER 8M PSRAM, 16M Flash)

; EXPERIMENTAL
;build_board = esp32s3            ; esp32s3 devkitc                             (ESP32-S3 2M/8M PSRAM, 8M/16M/32M Flash)
;build_board = lolin-s2-mini      ; Wemos Lolin S2 Mini                         (ESP32-S2 2M PSRAM, 4M Flash)

; Choose the size of flash available on your board
;flash_size = 16mb
;flash_size = 8mb
;flash_size = 4mb

; Choose SPIFFS or LITTLEFS for the filesystem used on internal flash
flash_filesystem = FLASH_SPIFFS 
;flash_filesystem = FLASH_LITTLEFS

; Espressif32 PlatformIO Version to use for building
esp32_platform_version = 5.3.0
;esp32s3_platform_version = 6.1.0

; Required flags, leave as is
build_platform = BUILD_IEC
build_bus      = IEC

[platformio]
description = Meatloaf Commodore to ESP32 WiFi Multifunction Firmware
default_envs = ${meatloaf.build_board}
data_dir = $PROJECT_DIR/data/${meatloaf.build_platform}

[env]
; Common settings for all enivornments
framework = espidf
extra_scripts = pre:build_version.py
lib_ldf_mode = deep+
upload_speed = 460800 ;921600
;upload_port = COM1 ; Windows
;upload_port = /dev/ttyUSB0 ; Linux
;upload_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_speed = 460800 ;921600
;monitor_port = COM1 ; Windows
;monitor_port = /dev/ttyUSB0 ; Linux
;monitor_port = /dev/tty.SLAB_USBtoUART ; Mac
monitor_filters = time, esp32_exception_decoder
check_skip_packages = yes
;debug_tool = esp-prog
;debug_init_break = tbreak setup

; Build flags used by ALL boards go here
build_flags =
    -D ${meatloaf.build_platform}
    -D ${meatloaf.flash_filesystem}
    -D CMAKE_EXPORT_COMPILE_COMMANDS=ON
    -D DEBUG_SPEED=460800   ;921600
    ;-D NO_BUTTONS          ; if your hardware has no physical buttons
    ;-D SD_CARD             ; if your hardware has an sd card slot
    ;-D LED_STRIP           ; if your hardware has an LED strip
    ;-D PIEZO_BUZZER        ; if your hardware has a piezo buzzer
    ;-D PARALLEL_BUS        ; if your hardware has userport parallel interface
    ;-D JTAG                ; enable use with JTAG debugger
    ;-D BLUETOOTH_SUPPORT   ; enable BlueTooth support
    ;-D VERBOSE_TNFS
    ;-D VERBOSE_DISK
    ;-D VERBOSE_HTTP
    ;-D DEBUG_TIMING
    ;-D DATA_STREAM
    ;-D NO_VIRTUAL_KEYBOARD
    ;-D DBUG2 ; enable monitor messages for a release build

    ; GPIO Expander Selection
    ;-D GPIOX_PCF8575
    ;-D GPIOX_MCP23017
    ;-D GPIOX_XRA1405

[env:fujiloaf-rev0]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_FUJILOAF_REV0
    -D BOARD_HAS_PSRAM
    -D SD_CARD
	-D LED_STRIP
	-D PARALLEL_BUS
    -D GPIOX_PCF8575

[env:lolin-d32-pro]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_LOLIN_D32_PRO
    -D BOARD_HAS_PSRAM
    -D SD_CARD

[env:ttgo-t1]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_TTGO_T1
    -D SD_CARD

[env:esp32-wroom]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_WROOM

[env:esp32-wroom-pi1541]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_WROOM_1541
	-D NO_BUTTONS
	-D IEC_SPLIT_LINES
	-D IEC_INVERTED_LINES

[env:fujiapple-rev0]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_A2_REV0
    -D BOARD_HAS_PSRAM
    -D SD_CARD

[env:fujinet-v16]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-${meatloaf.flash_size}
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_FN_16
    -D BOARD_HAS_PSRAM
    -D SD_CARD

[env:esp32s3]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-s3
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_ESP32S3
    -D BOARD_HAS_PSRAM

[env:lolin-s2-mini]
platform = espressif32@${meatloaf.esp32_platform_version}
board = esp32-s2
build_type = debug
build_flags =
	${env.build_flags}
	-D PINMAP_LOLIN_S2_MINI
    -D BOARD_HAS_PSRAM
