body {
    margin: 0;
    padding: 0;
    background-color: #6C5EB5; /* dark blue */
    font-family: 'Press Start 2P', cursive;
    color: #6C5EB5; /* light blue */
}

.boot-screen {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #6C5EB5; /* light blue */
    padding: 20px;
    background-color: #352879; /* black */
    width: 80%;
    height: 80%;
}

h1 {
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
	text-align: left;
}

.help-actions {
    font-size: 24px;
    text-align: center;
	color: #FFFFFF; /* light blue */
}