/////////////////////////////////////////////////////////////////////////////
// Copy this file to:
// ssid.h
// then edit the file and enter your information
#define WIFI_SSID     "YOUR SSID"
#define WIFI_PASSWORD "YOUR WIFI PASSWORD"
